# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docview

# NuGet
packages/
*.nupkg
project.lock.json

# Rider / JetBrains
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Logs & temp
*.log
*.tmp
*.cache

# Published output
publish/
Monarch Butterfly.exe
Monarch_Butterfly_Setup.exe
setup.iss
